body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ele1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}